language: node_js

node_js:
  - 8.9.4

install:
  - npm install

before_script:
  - npm install -g @angular/cli

script:
  - ng -v
  - ng build
  - ng test --code-coverage true --watch false

notifications:
  email:
    on_failure: change
    on_success: change
