<cfs-header
  [middleButton]="middleButton"
  [header]="header"
  (middleButtonClick)="openLocationChangeModel($event)">
</cfs-header>

<cfs-alerts></cfs-alerts>

<div class="container">
  <router-outlet></router-outlet>
</div>

<cfs-footer
  [footer]="footer">
</cfs-footer>

<agm-map [latitude]="coordinates && coordinates.latitude"
         [zoom]="16"
         [longitude]="coordinates && coordinates.longitude" (mapReady)="mapReady($event)">
  <agm-marker
    [latitude]="coordinates && coordinates.latitude"
    [longitude]="coordinates && coordinates.longitude"></agm-marker>
</agm-map>
