<nav class="navbar navbar-expand-md navbar-fixed-top navbar-dark main-nav">
  <cfs-alerts></cfs-alerts>
  <div class="container">
    <div class="navbar-collapse collapse nav-content order-2">
      <a class="navbar-brand" href="#">
        <img src="/assets/candilogo_icon32x32.png" width="30" height="30" class="d-inline-block align-top" alt="">
        candifood
      </a>
      <!--<ul class="nav navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home</a>
        </li>
      </ul>-->
    </div>
    <ul class="nav navbar-nav text-nowrap flex-row mx-md-auto order-1 order-md-2">
      <li class="nav-item">
        <button type="button" class="btn btn-warning ng-binding street-button" (click)="open()">
          <i class="fa fa-street-view street-view" aria-hidden="true"></i> <span></span>
          {{location.formatted_address}}
        </button>
      </li>
      <button class="navbar-toggler ml-2" type="button" data-toggle="collapse" data-target=".nav-content"
              aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </ul>
    <div class="ml-auto navbar-collapse collapse nav-content order-3 order-md-3">
      <ul class="ml-auto nav navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Help</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
