<div class="list-restaurant">
  <div class="card" *ngFor="let restaurant of restaurantService.restaurants">

    <div class="card-header">
      <div class="row">
        <div class="col-md-1">
          <fa-icon [icon]="['fas', 'utensils']" [size]="'5x'" [styles]="{color:'#F36F24'}"></fa-icon>
        </div>
        <div class="col-md-7 ng-scope">
          <h4 class="ng-binding">{{restaurant.name}}</h4>
          <p class="ng-binding">{{restaurant.address}}, {{restaurant.city}}</p>
          <p class="card-text">Time: {{restaurant.openTime}} - {{restaurant.closeTime}}</p>
          <ng-template #t let-fill="fill">
            <span class="star" [class.full]="fill === 100">
              <span class="half" [style.width.%]="fill">
                &#9734;
              </span>
              &#9733;
            </span>
          </ng-template>
          <ngb-rating [(rate)]="restaurant.rating" [starTemplate]="t" [readonly]="true" max="5"></ngb-rating>
        </div>

        <div class="col-md-4">

          <!--// These are default types, so not provided icons for them-->
          <!--<fa-icon [icon]="['fas', 'glass-martini']" [size]="'2x'" *ngIf="restaurant.types.includes('food')"
                   [styles]="{color:'#F36F24'}"></fa-icon>
          <fa-icon [icon]="['fas', 'glass-martini']" [size]="'2x'" *ngIf="restaurant.types.includes('restaurant')"
                   [styles]="{color:'#F36F24'}"></fa-icon>
          <fa-icon [icon]="['fas', 'glass-martini']" [size]="'2x'" *ngIf="restaurant.types.includes('establishment')"
                   [styles]="{color:'#F36F24'}"></fa-icon>
          <fa-icon [icon]="['fas', 'glass-martini']" [size]="'2x'" *ngIf="restaurant.types.includes('point-of-interest')"
                   [styles]="{color:'#F36F24'}"></fa-icon>-->

          <fa-icon [icon]="['fas', 'beer']" [size]="'2x'" *ngIf="restaurant.types.includes('bar')"
                   [styles]="{color:'#F36F24'}"></fa-icon>
          <fa-icon [icon]="['fas', 'glass-martini']" [size]="'2x'" *ngIf="restaurant.types.includes('night_club')"
                   [styles]="{color:'#F36F24'}"></fa-icon>
          <fa-icon [icon]="['fas', 'truck-moving']" [size]="'2x'" *ngIf="restaurant.types.includes('shopping-cart')" [styles]="{color:'#F36F24'}"></fa-icon>
          <fa-icon [icon]="['fas', 'truck-moving']" [size]="'2x'" *ngIf="restaurant.types.includes('meal_delivery')" [styles]="{color:'#F36F24'}"></fa-icon>
          <fa-icon [icon]="['fas', 'coffee']" [size]="'2x'" *ngIf="restaurant.types.includes('cafe')"
                   [styles]="{color:'#F36F24'}"></fa-icon>
          <fa-icon [icon]="['fas', 'gamepad']" [size]="'2x'" *ngIf="restaurant.types.includes('bowling_alley')"
                   [styles]="{color:'#F36F24'}"></fa-icon>
          <fa-icon [icon]="['fas', 'birthday-cake']" [size]="'2x'" *ngIf="restaurant.types.includes('bakery')"
                   [styles]="{color:'#F36F24'}"></fa-icon>
          <fa-icon [icon]="['fas', 'shopping-cart']" [size]="'2x'" *ngIf="restaurant.types.includes('store')"
                   [styles]="{color:'#F36F24'}"></fa-icon>
          <fa-icon [icon]="['fas', 'shopping-cart']" [size]="'2x'" *ngIf="restaurant.types.includes('home_goods_store')"
                   [styles]="{color:'#F36F24'}"></fa-icon>
        </div>
      </div>
      <div class="row">
        <div class="container">

          <a href="#" class="btn btn-warning">Order</a>
        </div>

      </div>
    </div>
  </div>


</div>
