<cfs-header></cfs-header> <!-- *ngIf='userService.isAuthenticated'-->
<div class="container">
  <router-outlet></router-outlet>
</div>
<cfs-footer></cfs-footer>
<agm-map [latitude]="position && position.coords && position.coords.latitude"
         [longitude]="position && position.coords && position.coords.longitude" (mapReady)="mapReady($event)">
  <agm-marker [latitude]="position && position.coords && position.coords.latitude"
  [longitude]="position && position.coords && position.coords.longitude"></agm-marker>
</agm-map>
